/* #Basic Styles
================================================== */
* {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;padding: 0;border: 0;vertical-align: baseline;word-break:keep-all}
hr{position:absolute;width:1px;height:1px;border:none;background:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
body {font:15px / 25px "Noto Sans KR", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust:100%;line-height:1.6rem;letter-spacing:-.06rem}

/* #Links
================================================== */
a {text-decoration: none;outline: 0;max-width: 100%;max-width: none\9}
a:hover, a:focus,a:visited{outline:0;text-decoration:underline}
p a, p a:visited{line-height:inherit;}
em{font-style:normal}

/* #Lists
================================================== */
ol, ul, dl {list-style:none}
ul{list-style:none outside}
ol{list-style: decimal}
ul.square {list-style: square outside}
ul.circle {list-style: circle outside}

/* #table
================================================== */
table{border-collapse:collapse;border-spacing:0}
/* #Images
================================================== */
img, a img {
  border: none !important;
  padding: 0;
  margin: 0;
  display: inline-block;
  max-width: 100%;
  height: auto;
  image-rendering: optimizeQuality;
}

/* #Buttons
================================================== */

/* #Other elements
================================================== */
iframe, object, embed{max-width: 100%}

/* #Misc
================================================== */
.hidden {position: absolute;top: 0;visibility: hidden}
.fl{float:left}
.fr{float:right}
.cl{clear:both}


.txt-c{text-align:center}

.mt50{margin-top:50px}
.mt70{margin-top:70px}