// img url
$imgurl1:"../images/layout/";
$imgurl2:"../images/common/";
$imgurl3:"../images/sub/";

// color
$color-primary:#666;
$color-secondary:#222;

// basic
$txt-c:center;
$txt-l:left;
$txt-r:right;
$fl:left;
$fr:right;
$m0a:0 auto;

// responsible
$breakpoint-mobile-f:280px;
$breakpoint-mobile:320px;
$breakpoint-tablet:691px;
$breakpoint-tablet2:900px;
$breakpoint-desktop:1400px;